<!-- ================= HEADER COMPONENT ================= -->
<header>
    <div class="faixa-promo">
        <p class="text-faixa-promo">Frete Grátis nas compras acima de R$ 399</p>
    </div>

    <div class="mobile-menu-responsivo">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

    <div class="menu-mobile-responsivo">
        <button id="botaoFecharMenu">
            <img src="../../assets/icons/definicoes (1).png" alt="close-menu" />
        </button>
        <nav class="nav-menu-mobile">
            <ul class="nav-list">
                <li>
                    <a href="#">
                        <img src="../../assets/icons/procurar (1).png" alt="lupa-de-busca" />
                    </a>
                </li>
                <li>
                    <a href="../login/login.html">
                        <img class="icons-header" src="../../assets/icons/usuario-do-circulo.png" alt="login" />
                    </a>
                </li>
                <li>
                    <a href="#" class="position-relative">
                        <img src="../../assets/icons/carrinho-de-compras (3).png" alt="carrinho" />
                        <span class="cart-badge position-absolute translate-middle badge rounded-pill" style="display: none;">0</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="div-icone-usuario" id="div-usuario" style="display: none">
        <img src="../../assets/icons/usuario-do-circulo.png" class="icone-usuario" />
        <p id="mensagem-usuario"></p>
    </div>

    <div class="header-principal">
        <img class="img-logo" id="logo-modo" src="../../assets/logo.png" alt="logo" />
        <div class="header-nav">
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li>
                        <a href="#">
                            <img class="icons-header" id="icone-lupa" src="../../assets/icons/procurar (1).png" alt="lupa-de-busca" />
                        </a>
                    </li>
                    <li>
                        <a href="../login/login.html">
                            <img class="icons-header" id="icone-login" src="../../assets/icons/usuario-do-circulo.png" alt="icone-login" />
                        </a>
                    </li>
                    <li>
                        <a href="#" id="btnCart" class="position-relative">
                            <img class="icons-header" id="icone-carrinho" src="../../assets/icons/carrinho-de-compras (3).png" alt="carrinho" />
                            <span class="cart-badge position-absolute translate-middle badge rounded-pill" style="display: none;">0</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="nav-roupas">
        <nav>
            <ul>
                <li><a href="../principal/principal.html">HOME</a></li>
                <li><a href="../masculino/masculino.html">MASCULINO</a></li>
                <li><a href="../feminino/feminino.html">FEMININO</a></li>
            </ul>
        </nav>
    </div>
</header>
