@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
/* ******** CONFIG GERAL ********* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}
/* ******** CONFIG GERAL ********* */

/* ************ CINFIG HEADER ************ */

.faixa-promo {
    width: 100%;
    background-color: black;
    color: white;
    padding: 11px 0;
}
.faixa-promo p {
    font-weight: 300;
    font-size: 13px;
}
.text-faixa-promo {
    text-align: center;
}

.header-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.header-nav {
    position: absolute;
    right: 200px;
}
.header-nav nav ul {
    display: flex;
    gap: 15px;
}
.header-nav nav ul li {
    list-style: none;
}

.nav-roupas {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-roupas nav ul {
    display: flex;
    gap: 40px;
}

.nav-roupas nav ul li {
    list-style: none;
}
.nav-roupas nav ul li a {
    text-decoration: none;
    color: black;
}
/* ************ CINFIG HEADER ************ */

/* ************ CINFIG HEADER MOBILE ************ */

.mobile-menu-responsivo {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 10;
    display: none;
}

.mobile-menu-responsivo div {
    width: 32px;
    height: 2px;
    background-color: #000000;
    margin: 8px;
}

.menu-mobile-responsivo {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.904);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    display: none;
}

.nav-menu-mobile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 70px;
    gap: 10px;
}

.nav-menu-mobile ul {
    display: flex;
    gap: 20px;
}

.nav-menu-mobile ul li {
    color: white;
}

.nav-list {
    list-style: none;
}

.nav-roupas-mobile nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    list-style: none;
    align-items: center;
}

.nav-roupas-mobile nav ul li a {
    color: white;
}

#botaoFecharMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #00000000;
    border: 0;
}

/* ************ CINFIG HEADER MOBILE ************ */

/* ************ CINFIG MAIN ************ */
main {
    width: 100%;
}
main h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.5rem;
}

form {
    width: 100%;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    border: 0;
    border-bottom: solid 3px black;
    margin-bottom: 50px;
    width: 480px;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 80px;
    border: 2px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}

.button-enviar {
    margin-right: 10px;
    background-color: black;

    color: white;
    font-size: 1.2rem;
    font-weight: 200;
}

.button-limpar {
    border: 2px solid black;
    font-size: 1.2rem;
    font-weight: 200;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

.link:visited {
    color: black; /* Mantém a cor mesmo após visitar */
}
/* ************ CINFIG MAIN ************ */

/* ************ CINFIG RESPONSIVO ************ */

@media (min-width: 768px) and (max-width: 1024px) {
    .header-nav {
        right: 50px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .nav-roupas nav ul {
        gap: 10px;
    }

    .nav-roupas nav ul li {
        font-size: 12px;
    }

    input {
        width: 400px; /* não */
    }

    .header-nav {
        display: none;
    }

    .nav-roupas {
        display: none;
    }

    .mobile-menu-responsivo {
        display: block;
    }

    /* ********** MENU MOBILE ********** */

    /* ********** MENU MOBILE ********** */
}

@media (min-width: 320px) and (max-width: 425px) {
    .img-logo {
        width: 320px;
        height: auto;
    }

    .nav-roupas {
        display: none;
    }

    input {
        width: 320px; /* não */
    }

    .header-nav {
        display: none;
    }
    .nav-roupas {
        display: none;
    }

    .mobile-menu-responsivo {
        display: block;
    }
}

/* ************ CINFIG RESPONSIVO ************ */

/* body com modo claro/escuro */

/* Estilo padrão claro */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Modo escuro ativado */
body.dark-mode {
  background-color: black;
  color: white;
}

header, footer, .card {
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode header,
body.dark-mode .card {
  background-color: #000000; 
  color: white;
}

.dark-mode header, 
.dark-mode header * {
  color: #eee !important;
}

body.dark-mode footer {
  background-color: #1f1f1f; 
  color: #ddd;
}
